# EDA(Exploratory Data Analysis)
- 탐색적 데이터 분석


# 데이터 종류
- 수치형 데이터
    - 연속형: 일정 범위 안에서 어떤 값이든 취할수 있는 실수형 데이터(온도, 키, 풍속 등)
    - 이산형: 횟수와 같은 정수형 데이터(사건의 발생빈도, 방개수 등)

- 범주형 데이터
    - 가능한 범주의 값만 취할수 있는 데이터
    - 성별: 남/여
    - 전공: 경영학/인문학/교육학(명목형)
    - 영화평점: 1/2/3/4/5(순서형)
    - 직급: 대리/과장/차장/부장(순서형)

- Feature, 독립변수, 설명변수
    - 학습 데이터의 특성
- class, label, target, 종속변수
    - 정답데이터

In [1]:
import pandas as pd

In [2]:
#from google.colab import drive
#drive.mount("/content/drive")

In [3]:
#DATA_PATH = "/content/drive/MyDrive/data/"

import os
DATA_PATH=os.getcwd()

In [4]:
df = pd.read_csv(f"{DATA_PATH}"+"\\data\\titanic_train.csv")
df

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        210 non-null    object
 11  embarked     916 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

# 수치형 데이터 분석하기

In [6]:
df["fare"].sum() # 총합

31536.825

In [7]:
df["fare"].mean() # 평균

34.42884825327511

In [8]:
df["fare"].median() # 중앙값

14.5

In [9]:
df["fare"].var() # 분산

2981.9356461659518

In [10]:
df["fare"].std() # 표준편차

54.607102524909266

In [11]:
df["fare"].max(), df["fare"].min()

(512.3292, 0.0)

In [12]:
df["fare"].quantile([0.25, 0.5, 0.75]) # 분위수

0.25     7.8958
0.50    14.5000
0.75    31.5000
Name: fare, dtype: float64

- 왜도(Skewness)
    - 데이터 분포의 비대칭도를 나타내는 통계량
    - 분포가 왼쪽으로 치우쳐져 있고, 오른쪽으로 긴 꼬리를 가지는 경우 왜도는 양수
    - 분포가 오른쪽으로 치우쳐져 있고, 왼쪽으로 긴 꼬리를 가지는 경우 왜도는 음수
    - 정규분포와 같이 좌우 대칭인 경우 왜도는 0에 가까워진다.

In [13]:
df["fare"].skew()

4.516880682244371

In [14]:
df["age"].skew()

0.45286967436496056

In [15]:
df.skew(numeric_only=True)

passengerid    0.008021
survived       0.505225
pclass        -0.576934
age            0.452870
sibsp          4.028972
parch          4.062338
fare           4.516881
dtype: float64

In [16]:
df.count() # 결측치를 제외하고 count

passengerid    916
survived       916
pclass         916
name           916
gender         916
age            736
sibsp          916
parch          916
ticket         916
fare           916
cabin          210
embarked       916
dtype: int64

In [17]:
df.describe()

,passengerid,survived,pclass,age,sibsp,parch,fare
count,916.000000,916.000000,916.000000,736.000000,916.000000,916.000000,916.000000
mean,657.570961,0.377729,2.284934,29.904891,0.494541,0.375546,34.428848
std,377.391314,0.485084,0.840656,14.255770,1.040687,0.877660,54.607103
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,336.500000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,659.500000,0.000000,3.000000,28.000000,0.000000,0.000000,14.500000
75%,982.250000,1.000000,3.000000,38.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200

- 상관계수
    - 칼 피어슨(Karl Pearson)이 개발한 상관계수
    - 두개의 수치형 변수의 변화가 연관되는 정도
    - +1 ~ -1 사이의 값을 가짐
    - +1에 가까울수록 양의 상관관계
    - -1에 가까울수록 음의 상관관계
    - 0에 가까울수록 상관관계가 없음
    - 상관관계 != 인과관계

In [19]:
df.iloc[:,1:].corr(numeric_only=True)

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.285660 -0.032927  0.004089  0.095138  0.237830
pclass   -0.285660  1.000000 -0.394001  0.073610  0.039968 -0.547945
age      -0.032927 -0.394001  1.000000 -0.227772 -0.163459  0.182191
sibsp     0.004089  0.073610 -0.227772  1.000000  0.343265  0.119521
parch     0.095138  0.039968 -0.163459  0.343265  1.000000  0.165641
fare      0.237830 -0.547945  0.182191  0.119521  0.165641  1.000000

# 범주형 데이터 분석하기

- 고유값들의 개수

In [20]:
df["embarked"].nunique() # 고유값들의 개수

3

In [21]:
df["cabin"].nunique()

145

- 고유값들 보기

In [22]:
df["embarked"].unique()

array(['C', 'S', 'Q'], dtype=object)

- 범주형 데이터의 범주별 개수를 보기

In [23]:
df["embarked"].value_counts()

embarked
S    646
C    186
Q     84
Name: count, dtype: int64

In [24]:
df["embarked"].value_counts(normalize=True)

embarked
S    0.705240
C    0.203057
Q    0.091703
Name: proportion, dtype: float64

- 최빈값

In [25]:
df["embarked"].mode() # 시리즈로 반환된다.

0    S
Name: embarked, dtype: object

- 두 범주형 변수의 관계보기

In [26]:
df.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

In [27]:
pd.crosstab(df["gender"], df["survived"])

survived    0    1
gender
female     61  275
male      509   71

In [28]:
pd.crosstab(df["gender"], df["survived"], normalize="index")

survived         0         1
gender
female    0.181548  0.818452
male      0.877586  0.122414

In [29]:
pd.crosstab(df["gender"], df["survived"], normalize="columns")

survived         0         1
gender
female    0.107018  0.794798
male      0.892982  0.205202