In [1]:
import pandas as pd

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

In [3]:
import os


DATA_PATH = os.getcwd()

# 고객별 백화점 구매기록 데이터
- ID 컬럼은 고객을 식별하는 아이디

In [4]:
df = pd.read_csv(f"{DATA_PATH}\\data\\store_train_transactions.csv")
df.head()

            ID                 구매일시     지점코드     대분류      중분류  브랜드코드    구매가격
0  train_13219  2004-05-01 09:40:00  A144000   공산품파트       차류   5100   59700
1   train_5590  2004-05-01 09:40:00  A144000    잡화파트     화장잡화   5101   17000
2   train_7200  2004-05-01 10:20:00  A112000     공산품     용기보증   5100   34937
3   train_3010  2004-05-01 10:30:00  A373000  아동_스포츠      아동복   5105   19000
4  train_10851  2004-05-01 10:30:00  A112000    가정용품  전화기_카세트   5110  215000

In [5]:
df[["ID"]].value_counts()

ID
train_3637     672
train_12338    525
train_3853     468
train_7122     436
train_5624     436
              ...
train_12080      1
train_6142       1
train_13319      1
train_10178      1
train_9074       1
Name: count, Length: 14940, dtype: int64

In [7]:
df.groupby("ID").apply(lambda x : x)

                           ID                 구매일시     지점코드     대분류      중분류  \
ID
train_0    11309      train_0  2004-05-07 18:23:00  A112000    패션잡화       양말
           53918      train_0  2004-06-05 12:10:00  A144000  가정용품파트   상품군미지정
           53956      train_0  2004-06-05 12:20:00  A144000  가정용품파트   상품군미지정
           70074      train_0  2004-06-14 13:50:00  A144000    잡화파트     썬그라스
           141650     train_0  2004-07-29 17:13:00  A112000    패션잡화      싸롱화
...                       ...                  ...      ...     ...      ...
train_9999 419823  train_9999  2005-02-23 14:20:00  A112000    남성의류      캐릭터
           419926  train_9999  2005-02-23 15:00:00  A112000    남성의류      캐릭터
           470577  train_9999  2005-04-01 18:40:00  A112000    가정용품   소형취사가전
           470701  train_9999  2005-04-01 19:13:00  A112000    패션잡화  수입종합화장품
           521810  train_9999  2005-04-29 12:33:00  A112000  스포츠캐쥬얼    스포츠용품

                   브랜드코드     구매가격
ID
train_0    11309    5659    43500
           53918    5405  1000000
           53956    5405   430000
           70074    5578   320000
           141650   5379   165000
...                  ...      ...
train_9999 419823   5896    20000
           419926   5365   109000
           470577   5281    86400
           470701   5112    78000
           521810   5627    23000

[523105 rows x 7 columns]

In [8]:
df.groupby("ID").apply(lambda x :x)

                           ID                 구매일시     지점코드     대분류      중분류  \
ID
train_0    11309      train_0  2004-05-07 18:23:00  A112000    패션잡화       양말
           53918      train_0  2004-06-05 12:10:00  A144000  가정용품파트   상품군미지정
           53956      train_0  2004-06-05 12:20:00  A144000  가정용품파트   상품군미지정
           70074      train_0  2004-06-14 13:50:00  A144000    잡화파트     썬그라스
           141650     train_0  2004-07-29 17:13:00  A112000    패션잡화      싸롱화
...                       ...                  ...      ...     ...      ...
train_9999 419823  train_9999  2005-02-23 14:20:00  A112000    남성의류      캐릭터
           419926  train_9999  2005-02-23 15:00:00  A112000    남성의류      캐릭터
           470577  train_9999  2005-04-01 18:40:00  A112000    가정용품   소형취사가전
           470701  train_9999  2005-04-01 19:13:00  A112000    패션잡화  수입종합화장품
           521810  train_9999  2005-04-29 12:33:00  A112000  스포츠캐쥬얼    스포츠용품

                   브랜드코드     구매가격
ID
train_0    11309    5659    43500
           53918    5405  1000000
           53956    5405   430000
           70074    5578   320000
           141650   5379   165000
...                  ...      ...
train_9999 419823   5896    20000
           419926   5365   109000
           470577   5281    86400
           470701   5112    78000
           521810   5627    23000

[523105 rows x 7 columns]

In [9]:
tmp = df.groupby("ID", group_keys= True).apply(lambda x : x)
tmp

                           ID                 구매일시     지점코드     대분류      중분류  \
ID
train_0    11309      train_0  2004-05-07 18:23:00  A112000    패션잡화       양말
           53918      train_0  2004-06-05 12:10:00  A144000  가정용품파트   상품군미지정
           53956      train_0  2004-06-05 12:20:00  A144000  가정용품파트   상품군미지정
           70074      train_0  2004-06-14 13:50:00  A144000    잡화파트     썬그라스
           141650     train_0  2004-07-29 17:13:00  A112000    패션잡화      싸롱화
...                       ...                  ...      ...     ...      ...
train_9999 419823  train_9999  2005-02-23 14:20:00  A112000    남성의류      캐릭터
           419926  train_9999  2005-02-23 15:00:00  A112000    남성의류      캐릭터
           470577  train_9999  2005-04-01 18:40:00  A112000    가정용품   소형취사가전
           470701  train_9999  2005-04-01 19:13:00  A112000    패션잡화  수입종합화장품
           521810  train_9999  2005-04-29 12:33:00  A112000  스포츠캐쥬얼    스포츠용품

                   브랜드코드     구매가격
ID
train_0    11309    5659    43500
           53918    5405  1000000
           53956    5405   430000
           70074    5578   320000
           141650   5379   165000
...                  ...      ...
train_9999 419823   5896    20000
           419926   5365   109000
           470577   5281    86400
           470701   5112    78000
           521810   5627    23000

[523105 rows x 7 columns]

In [10]:
tmp[['구매일시']]

                                  구매일시
ID
train_0    11309   2004-05-07 18:23:00
           53918   2004-06-05 12:10:00
           53956   2004-06-05 12:20:00
           70074   2004-06-14 13:50:00
           141650  2004-07-29 17:13:00
...                                ...
train_9999 419823  2005-02-23 14:20:00
           419926  2005-02-23 15:00:00
           470577  2005-04-01 18:40:00
           470701  2005-04-01 19:13:00
           521810  2005-04-29 12:33:00

[523105 rows x 1 columns]

In [11]:
tmp.head(50)

                     ID                 구매일시     지점코드        대분류       중분류  \
ID
train_0 11309   train_0  2004-05-07 18:23:00  A112000       패션잡화        양말
        53918   train_0  2004-06-05 12:10:00  A144000     가정용품파트    상품군미지정
        53956   train_0  2004-06-05 12:20:00  A144000     가정용품파트    상품군미지정
        70074   train_0  2004-06-14 13:50:00  A144000       잡화파트      썬그라스
        141650  train_0  2004-07-29 17:13:00  A112000       패션잡화       싸롱화
        141704  train_0  2004-07-29 17:33:00  A112000       패션잡화   수입종합화장품
        181480  train_0  2004-09-01 17:53:00  A112000       가정용품      크리스탈
        181530  train_0  2004-09-01 18:10:00  A112000       가정용품   전화기_카세트
        181619  train_0  2004-09-01 18:30:00  A112000     스포츠캐쥬얼      골프웨어
        209076  train_0  2004-09-22 19:13:00  A112000       아동문화        아동
        299821  train_0  2004-11-23 13:10:00  A144000    남성정장스포츠      골프웨어
        299858  train_0  2004-11-23 13:30:00  A144000    남성정장스포츠      골프웨어
        304854  train_0  2004-11-28 15:20:00  A144000    남성정장스포츠      골프웨어
        304855  train_0  2004-11-28 15:20:00  A144000    남성정장스포츠      골프웨어
        321254  train_0  2004-12-09 12:30:00  A144000    남성정장스포츠      골프웨어
        321255  train_0  2004-12-09 12:30:00  A144000    남성정장스포츠      골프웨어
        321256  train_0  2004-12-09 12:30:00  A144000    남성정장스포츠      골프웨어
        321257  train_0  2004-12-09 12:30:00  A144000    남성정장스포츠      골프웨어
        329905  train_0  2004-12-15 16:40:00  A144000  케주얼_구두_아동        완구
        378485  train_0  2005-01-16 18:50:00  A112000        생식품        정육
train_1 16057   train_1  2004-05-11 13:03:00  A112000       영플라자      영캐주얼
        16112   train_1  2004-05-11 13:23:00  A112000       영플라자      영캐주얼
        16159   train_1  2004-05-11 13:43:00  A112000      여성캐주얼       란제리
        16228   train_1  2004-05-11 14:03:00  A112000       패션잡화       싸롱화
        16259   train_1  2004-05-11 14:13:00  A112000       영플라자      영캐주얼
        20717   train_1  2004-05-14 10:50:00  A144000      공산품파트       조미료
        20852   train_1  2004-05-14 11:50:00  A144000  케주얼_구두_아동        내의
        72235   train_1  2004-06-15 19:03:00  A112000       패션잡화   수입종합화장품
        104488  train_1  2004-07-07 18:50:00  A373000      여성캐주얼       캐릭터
        148563  train_1  2004-08-04 18:54:00  A373000   골프_유니캐쥬얼     트래디셔널
        148568  train_1  2004-08-04 19:00:00  A373000        공산품      용기보증
        173402  train_1  2004-08-27 17:33:00  A112000       영플라자      영캐주얼
        177169  train_1  2004-08-30 12:33:00  A112000       영캐릭터    베이직캐주얼
        177238  train_1  2004-08-30 13:03:00  A112000       패션잡화   수입종합화장품
        183596  train_1  2004-09-02 17:10:00  A112000        공산품      냉장식품
        209245  train_1  2004-09-23 12:03:00  A112000       영플라자      진캐주얼
        209311  train_1  2004-09-23 12:43:00  A112000       영플라자  피혁토탈(B2)
        209337  train_1  2004-09-23 12:53:00  A112000       영플라자  피혁토탈(B2)
        209338  train_1  2004-09-23 12:53:00  A112000       영플라자    스포츠캐주얼
        213265  train_1  2004-09-26 18:43:00  A112000       패션잡화   수입종합화장품
        218240  train_1  2004-09-30 12:33:00  A373000      여성캐주얼      영캐주얼
        218337  train_1  2004-09-30 13:03:00  A373000   골프_유니캐쥬얼      진캐쥬얼
        218379  train_1  2004-09-30 13:13:00  A373000       명품잡화   수입종합화장품
        218439  train_1  2004-09-30 13:40:00  A373000        공산품       과자류
        256671  train_1  2004-10-19 18:30:00  A112000       영플라자        단품
        256695  train_1  2004-10-19 18:40:00  A112000       영플라자      영캐주얼
        273513  train_1  2004-11-03 18:33:00  A112000       영캐릭터    베이직캐주얼
        273564  train_1  2004-11-03 18:50:00  A112000        생식품        청과
        273607  train_1  2004-11-03 19:00:00  A112000        공산품       과자류
        310328  train_1  2004-12-02 16:03:00  A112000      여성캐주얼   엘레강스캐주얼

                브랜드코드     구매가격
ID
train_0 11309    5659    43500
        53918    5405  1000000
        53956    5405   430000
        70074    5578   320000
        141650   5379   165000
        141704   5149   169000
        181480   6164   234000
        181530   6483    20000
        181619   5508   114000
        209076   5231   157300
        299821   5452  1236000
        299858   5409   205000
        304854   5452 -1236000
        304855   5452  1076000
        321254   5452 -1076000
        321255   5452   968400
        321256   5409   205000
        321257   5409  -205000
        329905   5207    35000
        378485   5100   340000
train_1 16057    5345   325000
        16112    5196   155000
        16159    5336    34000
        16228    5869   148000
        16259    5477   138000
        20717    5100    11400
        20852    5870    39000
        72235    5116    72000
        104488   5377   101500
        148563   5204    82000
        148568   5100    14525
        173402   5345   118000
        177169   5314   266000
        177238   5116    50000
        183596   5100    13250
        209245   5167   315700
        209311   5286    93000
        209337   5637    33000
        209338   5191    53000
        213265   5116    30000
        218240   5196   105000
        218337   5167    87900
        218379   5116   107000
        218439   5100     5600
        256671   6515    39000
        256695   5334    28000
        273513   5316   189000
        273564   5100    12150
        273607   5100    29000
        310328   5304   698000

# 새 섹션

In [12]:
df.shape

(523105, 7)

In [13]:
df["ID"].nunique() # 고객수

14940

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523105 entries, 0 to 523104
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      523105 non-null  object
 1   구매일시    523105 non-null  object
 2   지점코드    523105 non-null  object
 3   대분류     523105 non-null  object
 4   중분류     523105 non-null  object
 5   브랜드코드   523105 non-null  int64
 6   구매가격    523105 non-null  int64
dtypes: int64(2), object(5)
memory usage: 27.9+ MB

# datetime으로 변경하기
- 연, 월, 일, 요일, 시간 등 날짜와 관련된 정보를 쉽게 추출할 수 있다.
- datetime 형식의 Series의 `dt` 하위 속성을 이용하면 된다.

In [15]:
df["구매일시"] = pd.to_datetime(df["구매일시"])
df["구매일시"]

0        2004-05-01 09:40:00
1        2004-05-01 09:40:00
2        2004-05-01 10:20:00
3        2004-05-01 10:30:00
4        2004-05-01 10:30:00
                 ...
523100   2005-04-29 19:53:00
523101   2005-04-29 19:54:00
523102   2005-04-29 20:00:00
523103   2005-04-29 20:00:00
523104   2005-04-29 20:03:00
Name: 구매일시, Length: 523105, dtype: datetime64[ns]

In [16]:
df["구매일시"].dt.date # YYYY-MM-DD 형식

0         2004-05-01
1         2004-05-01
2         2004-05-01
3         2004-05-01
4         2004-05-01
             ...
523100    2005-04-29
523101    2005-04-29
523102    2005-04-29
523103    2005-04-29
523104    2005-04-29
Name: 구매일시, Length: 523105, dtype: object

In [17]:
df["구매일시"].dt.year # 연도

0         2004
1         2004
2         2004
3         2004
4         2004
          ...
523100    2005
523101    2005
523102    2005
523103    2005
523104    2005
Name: 구매일시, Length: 523105, dtype: int32

In [18]:
df["구매일시"].dt.month # 월

0         5
1         5
2         5
3         5
4         5
         ..
523100    4
523101    4
523102    4
523103    4
523104    4
Name: 구매일시, Length: 523105, dtype: int32

In [19]:
df["구매일시"].dt.day # 일

0          1
1          1
2          1
3          1
4          1
          ..
523100    29
523101    29
523102    29
523103    29
523104    29
Name: 구매일시, Length: 523105, dtype: int32

In [20]:
df["구매일시"].dt.quarter # 4분기

0         2
1         2
2         2
3         2
4         2
         ..
523100    2
523101    2
523102    2
523103    2
523104    2
Name: 구매일시, Length: 523105, dtype: int32

In [21]:
df["구매일시"].dt.weekday # 요일 0~6(월요일~일요일)

0         5
1         5
2         5
3         5
4         5
         ..
523100    4
523101    4
523102    4
523103    4
523104    4
Name: 구매일시, Length: 523105, dtype: int32

In [22]:
df["구매일시"].dt.dayofyear # 연기준으로 몇일째 인지

0         122
1         122
2         122
3         122
4         122
         ...
523100    119
523101    119
523102    119
523103    119
523104    119
Name: 구매일시, Length: 523105, dtype: int32

In [23]:
df["구매일시"].dt.hour # 시간

0          9
1          9
2         10
3         10
4         10
          ..
523100    19
523101    19
523102    20
523103    20
523104    20
Name: 구매일시, Length: 523105, dtype: int32

In [24]:
df["구매일시"].dt.time # HH:MM:SS

0         09:40:00
1         09:40:00
2         10:20:00
3         10:30:00
4         10:30:00
            ...
523100    19:53:00
523101    19:54:00
523102    20:00:00
523103    20:00:00
523104    20:03:00
Name: 구매일시, Length: 523105, dtype: object

In [25]:
df["구매일시"].dt.minute # 분

0         40
1         40
2         20
3         30
4         30
          ..
523100    53
523101    54
523102     0
523103     0
523104     3
Name: 구매일시, Length: 523105, dtype: int32

In [26]:
df["구매일시"].dt.second # 초

0         0
1         0
2         0
3         0
4         0
         ..
523100    0
523101    0
523102    0
523103    0
523104    0
Name: 구매일시, Length: 523105, dtype: int32

```
pivot_table 함수를 이용하여 고객별로 구매가격의 평균값을 확인하시오.
```

In [27]:
pd.pivot_table(
    df,
    index = "ID",
    values = "구매가격",
    aggfunc = "mean",
)

                     구매가격
ID
train_0     210060.000000
train_1     120072.023810
train_10     83842.313433
train_100    72149.500000
train_1000   16833.333333
...                   ...
train_9995   36000.000000
train_9996  190976.400000
train_9997   29470.370370
train_9998   71356.034483
train_9999  193625.833333

[14940 rows x 1 columns]

```
pivot_table 함수를 이용하여 각 고객에 대하여 대분류별로  구매가격의 표준편차를 확인하시오.
```

In [28]:
df["ID"].nunique()

14940

In [29]:
tmp = pd.pivot_table(
    df,
    index = "ID",
    columns = "대분류",
    values = "구매가격",
    aggfunc= "std",
    # dropna = False
    # fill_value= 0
)
tmp

대분류,가정용품,가정용품파트,골프_유니캐쥬얼,공산품,공산품파트,남성의류,남성정장스포츠,로얄부띠끄,로얄부틱,명품잡화,...,여성캐주얼,여성캐쥬얼,영라이브,영어덜트캐쥬얼,영캐릭터,영플라자,잡화,잡화파트,케주얼_구두_아동,패션잡화
ID,,,,,,,,,,,,,,,,,,,,,
train_0,151320.851174,403050.865276,NaN,NaN,NaN,NaN,945871.413414,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71330.802136
train_1,NaN,NaN,4171.930009,9767.940226,NaN,NaN,NaN,NaN,NaN,122329.473145,...,247417.814638,NaN,NaN,NaN,95468.581219,105393.181598,NaN,NaN,NaN,40577.087131
train_10,NaN,NaN,NaN,23883.236311,50172.985631,NaN,91429.191962,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76367.532368,261386.324195,73100.191518,NaN
train_100,176069.588515,NaN,136304.071839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51961.524227,NaN,18036.999011,112191.455408,NaN
train_1000,NaN,NaN,NaN,NaN,NaN,73032.047760,NaN,NaN,NaN,20329.781110,...,80736.692777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
train_9994,NaN,3774.917218,NaN,NaN,57934.732151,NaN,213643.347661,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86705.989248,170223.177569,NaN
train_9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44547.727215,52107.421097,NaN
train_9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2828.427125,NaN,NaN,NaN,55861.435714,66893.134390,NaN,NaN,NaN,92980.284649
train_9998,NaN,NaN,7778.174593,NaN,NaN,NaN,NaN,NaN,NaN,49274.739979,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30232.432916
train_9999,687097.349549,NaN,NaN,NaN,NaN,179929.986384,NaN,NaN,NaN,NaN,...,31750.118110,NaN,NaN,NaN,NaN,120935.244380,NaN,NaN,NaN,43471.939499

In [30]:
tmp = pd.pivot_table(
    df,
    index = "ID",
    columns = "대분류",
    values = "구매가격",
    aggfunc= "count",
    dropna = False,
    fill_value= 0
)
tmp

대분류,가정용품,가정용품파트,골프_유니캐쥬얼,공산품,공산품파트,남성의류,남성정장스포츠,로얄부띠끄,로얄부틱,명품잡화,...,여성캐주얼,여성캐쥬얼,영라이브,영어덜트캐쥬얼,영캐릭터,영플라자,잡화,잡화파트,케주얼_구두_아동,패션잡화
ID,,,,,,,,,,,,,,,,,,,,,
train_0,2,2,0,0,0,0,8,0,0,0,...,0,0,0,0,0,0,0,1,1,3
train_1,0,0,2,4,1,0,0,0,0,2,...,6,0,0,0,4,11,0,0,1,8
train_10,0,0,0,6,50,0,8,0,1,0,...,0,0,0,0,0,0,2,21,5,0
train_100,2,0,6,0,0,0,1,0,0,0,...,0,0,0,0,0,3,0,3,6,1
train_1000,0,1,1,0,0,5,0,0,0,5,...,12,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
train_9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
train_9996,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,2,12,0
train_9997,0,0,0,1,0,0,0,0,0,0,...,2,0,0,0,2,15,0,0,0,3
train_9998,0,0,2,1,0,0,0,0,0,3,...,1,0,0,0,0,0,0,0,0,9
train_9999,14,0,0,0,0,6,0,0,0,0,...,3,0,0,0,1,3,0,0,0,7

In [31]:
id_list = [ n_id for n_id in df["ID"].unique() if n_id not in tmp.index]
id_list = ["있음" if n_id in tmp.index else "없음" for n_id in df["ID"].unique()]

len(id_list)

14940

In [32]:
mask = df["ID"].isin(id_list)
df.loc[mask]

Empty DataFrame
Columns: [ID, 구매일시, 지점코드, 대분류, 중분류, 브랜드코드, 구매가격]
Index: []

```
고유한 고객번호로만 이루어진 데이터프레임을 만들어서 features 변수에 넣으시오.
컬럼명은 ID로 하시오.
컬럼이 ID만 있는 데이터프레임을 만들라는 의미
중복 고객번호가 있으면 안된다.
```

In [33]:
features = pd.DataFrame(df["ID"].unique(), columns=["ID"])
features

                ID
0      train_13219
1       train_5590
2       train_7200
3       train_3010
4      train_10851
...            ...
14935  train_13669
14936   train_3198
14937  train_13617
14938   train_3610
14939  train_10178

[14940 rows x 1 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 평균을 구하고 데이터 프레임 형식으로 정돈 하고 구매가격의 컬럼명을 변경하여
features 변수의 데이터프레임과 left merge 하시오.
```

In [34]:
agg_dict = {
    "구매가격":[("구매가격_평균","mean")]
}
df.groupby("ID").agg(agg_dict).reset_index()

               ID           구매가격
                         구매가격_평균
0         train_0  210060.000000
1         train_1  120072.023810
2        train_10   83842.313433
3       train_100   72149.500000
4      train_1000   16833.333333
...           ...            ...
14935  train_9995   36000.000000
14936  train_9996  190976.400000
14937  train_9997   29470.370370
14938  train_9998   71356.034483
14939  train_9999  193625.833333

[14940 rows x 2 columns]

In [35]:
agg_dict = {
    "구매가격":[("구매가격_평균","mean")]
}
df.groupby("ID").agg(agg_dict).reset_index()

tmp = df.groupby("ID").agg(agg_dict)
tmp.columns = tmp.columns.droplevel()
tmp = tmp.reset_index()
tmp

               ID        구매가격_평균
0         train_0  210060.000000
1         train_1  120072.023810
2        train_10   83842.313433
3       train_100   72149.500000
4      train_1000   16833.333333
...           ...            ...
14935  train_9995   36000.000000
14936  train_9996  190976.400000
14937  train_9997   29470.370370
14938  train_9998   71356.034483
14939  train_9999  193625.833333

[14940 rows x 2 columns]

In [36]:
agg_dict = {
    "구매가격": "mean"
}
tmp = df.groupby("ID").agg(agg_dict).reset_index().rename(columns = {"구매가격": "구매가격_평균"})
features = pd.merge(features, tmp, how="left", on="ID")
features

                ID        구매가격_평균
0      train_13219   80996.833333
1       train_5590   97656.378049
2       train_7200   52533.400000
3       train_3010   66376.008065
4      train_10851  126663.720930
...            ...            ...
14935  train_13669  192000.000000
14936   train_3198   52500.000000
14937  train_13617   67500.000000
14938   train_3610  123333.333333
14939  train_10178  114000.000000

[14940 rows x 2 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 최대값과 대분류의 고유값의 개수(다양성)를
데이데이터 프레임 형식으로 정돈 하고 구매가격과 대분류의 컬럼명을 변경하여
features 변수의 데이터프레임과 left merge 하시오
```

In [37]:
agg_dict = {
    "구매가격": "max",
    "대분류": "nunique"
}

tmp = df.groupby("ID").agg(agg_dict).reset_index().rename(columns = {"구매가격": "구매가격_최대값", "대분류": "대분류_다양성"})
features = pd.merge(features, tmp, how="left", on="ID")
features

                ID        구매가격_평균  구매가격_최대값  대분류_다양성
0      train_13219   80996.833333    278000        7
1       train_5590   97656.378049   3169150       12
2       train_7200   52533.400000    755000       10
3       train_3010   66376.008065    993700       11
4      train_10851  126663.720930    528000        8
...            ...            ...       ...      ...
14935  train_13669  192000.000000    192000        1
14936   train_3198   52500.000000     53000        1
14937  train_13617   67500.000000     70000        1
14938   train_3610  123333.333333    324000        3
14939  train_10178  114000.000000    114000        1

[14940 rows x 4 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 최소값과, 총 구매액
그리고 지점코드의 고유값 개수와 최빈값을 구하시오
구하는 과정에서 집계 컬럼에 대한 컬럼명도 정의하시오.
데이터프레임형식으로 정돈하고 features 변수의 데이터프레임과 left merge 하시오.
```

In [38]:
agg_dict = {
    "구매가격" : [
        ("구매가격_최소값", lambda x: x[x>0].min() ), # 환불을 제외하고!
        ("총구매액", "sum")
    ],
    "지점코드" : [
        ("지점_다양성", "nunique"),
        ("주방문지점", lambda x : x.mode()[0] )
    ]
}
df.groupby("ID").agg(agg_dict)

               구매가격             지점코드
           구매가격_최소값      총구매액 지점_다양성    주방문지점
ID
train_0       20000   4201200      2  A144000
train_1        5600   5043025      3  A112000
train_10       2500  11234870      2  A144000
train_100     10767   1875887      3  A144000
train_1000    12000    757500      2  A373000
...             ...       ...    ...      ...
train_9995    36000     36000      1  A112000
train_9996    21500   4774410      2  A144000
train_9997     6000    795700      1  A112000
train_9998     6500   2069325      2  A112000
train_9999     9000   6970530      1  A112000

[14940 rows x 4 columns]

In [39]:
agg_dict = {
    "구매가격" : [
        ("구매가격_최소값", lambda x: x[x>0].min() ), # 환불을 제외하고!
        ("총구매액", "sum")
    ],
    "지점코드" : [
        ("지점_다양성", "nunique"),
        ("주방문지점", lambda x : x.mode()[0] )
    ]
}

tmp = df.groupby("ID").agg(agg_dict)
tmp.columns = tmp.columns.droplevel()
tmp = tmp.reset_index()
features = pd.merge(features, tmp, how="left", on="ID")
features

,ID,구매가격_평균,구매가격_최대값,대분류_다양성,구매가격_최소값,총구매액,지점_다양성,주방문지점
0,train_13219,80996.833333,278000,7,12000,8261677,1,A144000
1,train_5590,97656.378049,3169150,12,10300,8007823,3,A144000
2,train_7200,52533.400000,755000,10,5500,2889337,2,A112000
3,train_3010,66376.008065,993700,11,6400,8230625,2,A202000
4,train_10851,126663.720930,528000,8,13000,5446540,1,A112000
...,...,...,...,...,...,...,...,...
14935,train_13669,192000.000000,192000,1,192000,192000,1,A144000
14936,train_3198,52500.000000,53000,1,52000,105000,1,A112000
14937,train_13617,67500.000000,70000,1,65000,135000,1,A144000
14938,train_3610,123333.333333,324000,3,21000,370000,1,A373000
14939,train_10178,114000.000000,114000,1,114000,114000,1,A144000